<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <!-- Latest compiled and minified of Bootstrap 3.3.7 CSS Framework -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Apple Hearsay</title>
	</head>
	<body>
		{{{ body }}}
		<div class="footer">
			<p>All Articles Copyright &copy; <a href="https://www.macrumors.com" target="_blank">MacRumors</a></p>
			<p>Website Copyright &copy; 2018 <a href="http://jamesdmcmillan.com" target="_blank">James McMillan</a></p>
			<a role="button" class="btn btn-primary" href="https://github.com/jMac029/apple-hearsay" target='_blank'><i class="fas fa-code-branch"></i> Fork me on GitHub! <i class="fab fa-github"></i></a>
		</div>
		<!--External JS Link-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="/assets/js/display.js"/></script>
	</body>
</html>