<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <!-- Latest compiled and minified of Bootstrap 3.3.7 CSS Framework -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Apple Hearsay</title>
		{{!-- <script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script> --}}
	</head>
	<body>
		{{{ body }}}
	</body>
</html>