<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Apple Hearsay</h1>
        <img id="apple-header" class="img-responsive center-block" alt="red apple" src="/assets/img/red-apple.png"/>
        <h4 class="text-center">Do you Love Rumors and Gossip about Apple Inc.?</h4>
        <h5 class="text-center">Use this handy dandy tool to read up and leave comments on all the latest Apple Hearsay from around the web!</h5>
        <button class="btn btn-lg" id="scrape-news-button">Fetch the Latest Hearsay</button>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        {{#each dbArticle}}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{{this.title}}</h3>
                </div>
                <div class="panel-body">
                    <p>{{{this.content}}}</p>
                </div>
                <div class="panel-footer">
                    <div>
                        {{this.comment.name}}
                        {{this.comment.body}}
                    </div>
                    <form id="comment-form">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="john doe">
                        </div>
                        <div class="form-group">
                            <label for="comment">Comment</label>
                            <input type="text" class="form-control" id="comment" placeholder="leave a comment">
                        </div>
                        <button type="submit" class="btn btn-primary" id="comment-submit-button">Submit</button>
                    </form>
                </div>
            </div>
        {{/each}}
    </div>
</div>
