/* Jumbotron */

.jumbotron {
    text-align: center;
}


/* Logo Header */

#apple-header {
    width: 15%;
}


/* Scrape News Button */

#scrape-news-button {
    background-color: #209B35;
    color: #fff;
}


/* image sizing */

img {
    width: 25%;
    height: 25%;
    float: inherit;
    padding: 20px;
}

/* article card styling */
.article-card {
    margin-top: 20px;
}

.article-header {
    background: #DFF0D8;
    color: #3C765E;
}

/* Delete Comment Button */
.deleteComment {
    float: right;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
}